<div class=scroll-table>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Nome do arquivo</th>
        <th>Data de importação</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @imported_files.each do |file| %>
        <tr>
          <td><%= file.file_name %></td>
          <td><%= file.created_at %></td>
          <td><%= link_to "Visualizar", file, class: "btn btn-outline-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div align="center">
  <%= link_to "Importar arquivo", new_import_file_path, class: "btn btn-primary btn-lg" %>
</div>


